{% extends "base.html" %}

{% block content %}
    <div class="container wow fadeIn">
        <h2 style="margin-top: 20px; margin-bottom: 20px; "><span class="section-intro__style">Поиск Селекционные достижения</span></h2>

      <form action="{% url 'cel_search_results' %}" method="get" id="cel">
        <div class="form-group" style="width: 600px;">
            <label for="formGroupExampleInput" >(21)Номер заявки</label>
              <input name = "num" type="text" class="form-control" id="formGroupExampleInput" placeholder="Пример: 201002.5">
          </div>
          <div class="form-group" style="width: 600px;">
           <label for="formGroupExampleInput2">(15)Дата регистрации:</label>
            <input name = "rdate" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Пример: 31.05.2016">
          </div>
          <div class="form-group" style="width: 600px;">
            <label for="formGroupExampleInput">(11) Регистрационный номер:</label>
              <input name = "rnum" type="text" class="form-control" id="formGroupExampleInput" placeholder="Пример: 49">
          </div>
          <div class="form-group" style="width: 600px;">
            <label for="formGroupExampleInput" >(54) Название:</label>
              <input name = "name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Пример: «Ралюб»">
          </div>
           <div class="form-group" style="width: 600px;">
            <label for="formGroupExampleInput">Род, вид (рус):</label>
              <input name = "rus" type="text" class="form-control" id="formGroupExampleInput" placeholder="Пример: Пшеница">
          </div>
          <div class="form-group" style="width: 600px;">
            <label for="formGroupExampleInput" >Род, вид (лат):</label>
              <input name = "lat" type="text" class="form-control" id="formGroupExampleInput" placeholder="Пример: Triticum aestivum L.">
          </div>
          <div class="form-group" style="width: 600px;">
           <label for="formGroupExampleInput2">(71) Заявитель:</label>
            <input name = "app" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Пример: Пахомеев О. В.">
          </div>
          <div class="form-group" style="width: 600px;">
            <label for="formGroupExampleInput">(72) Автор:</label>
              <input name = "avt" type="text" class="form-control" id="formGroupExampleInput" placeholder="Пример: Пахомеев О. В.">
          </div>
          <div class="form-group" style="width: 600px;">
            <label for="formGroupExampleInput2">(73) Патентовладелец:</label>
              <input name = "owner" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Пример: Пахомеев О. В.">
          </div>
            <button href="{% url 'cel_search_results' %}" type="submit" class="btn btn-primary" style="margin-bottom: 40px">Отправить запрос</button>
          <button type="button" class="btn btn-primary" onclick="document.getElementById('cel').reset()" value="reset" style="margin-bottom: 40px"> Очистить </button>
     </form>
    </div>


{% endblock %}